.hero-header {
	&__container {
		display: flex;
		background-color: $light-text-color;
		justify-content: space-around;
		height: 467px;
	}

	&__text-content {
		width: 500px;
	}

	&__title {
		font-family: $font-primary;
		font-size: 48px;
		line-height: 123.6%;
		font-weight: 700;
		margin-bottom: 18px;
		&--yellow {
			color: $main-color;
		}
	}

	&__discription {
		font-family: $font-primary;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: $grey-text-color;
		margin-bottom: 25px;
	}

	&__avatar {
		object-fit: cover;
	}
}
