.container {
  max-width: $desktop-size;
  margin-left: 335px;
  margin-right: 135px;
  padding-left: 0px;
  padding-right: 0px;

  //   @media screen and (min-width: $tablet-size) {
  //     max-width: 740px;
  //   }

  //   @media screen and (min-width: $desktop-size) {
  //     max-width: 1090px;
  //   }
  // }
}
