$main-color: #ffb400;
$main-transparent-color: rbga(#ffb400, 0.95);
$light-text-color: #fff;
$dark-text-color: #2b2b2b;
$grey-text-color: #767676;
$background-color: #e4e6eb;
$transparent-grey-color: #f0f0f6;

$horizontal-line-color: #f0f0f6;
// $pink-background-color: #ffb8ca;
// $cream-background-color: #f0d1a5;
// $green-background-color: #c2e297;
// $light-background-color: #fff5f6;
// $menu-background-color: #e17992;
// $footer-horizontal-line-color: #e1e1e1;
// $hover-pink-background-color: #c7133e;
// $hover-background-color: #ecebeb;
// $default-color-social: #fea5bb;

$font-primary: "Inter", sans-serif;
$font-secondary: "Poppins", sans-serif;

$desktop-size: 1440px;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
